language: python
sudo: false
python:
  - "3.5"
  - "3.6"
  - "3.6-dev"
  - "3.7-dev"
  - "nightly"
matrix:
  include:
    - python: 3.6
      env: TOXENV=flake8
  allow_failures:
    - python: "3.6-dev"
    - python: "3.7-dev"
    - python: "nightly"
install:
  - pip install -U codeclimate-test-reporter tox-travis
  - pip install -I "coverage>4.0,<4.4"
script:
  - tox
after_success:
  - CODECLIMATE_REPO_TOKEN=84e0a7c0f0ba45cea6c724196d98f5aeda05a41167b40940de65528e47c28290 codeclimate-test-reporter
