[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
Django = "*"
dramatiq = {extras = ["watch"]}

[dev-packages]
"flake8" = "*"
"flake8-quotes" = "*"
bumpversion = "*"
isort = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
tox = "*"
twine = "*"
