[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
Django = "*"
dramatiq = {extras = ["watch"]}

[dev-packages]
bumpversion = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
twine = "*"
tox = "*"
