{% extends "django_dramatiq/base.html" %}

{% block title %}Dramatiq task load graph{% endblock %}

{% block description %}Dramatiq task load graph{% endblock %}

{% block extrahead %}
    <script src='{{ plotly_lib }}'></script>
    <style>
        body {
            padding-right: 0.6em;
            padding-left: 0.6em;
        }
        input, select {
            margin: 0 1em 0.38em 0;
        }
        .errorlist {
            color: red;
        }
    </style>
{% endblock %}

{% block content %}
    <form method="GET" style="text-align: center; margin-bottom: 0.38em;">
        {{ form }}
        <button type="submit" style="background-color: steelblue; color: white">build graph</button>
        <a href="{% url 'django_dramatiq_load_graph' %}"><i>reset</i></a>
    </form>
    {% if empty_qs %}
        <p style="font-size: 2em; text-align: center">🔍 there is no data for the specified criteria</p>
    {% elif categories %}
        <div id='graph'></div>
    {% else %}
        <p style="font-size: 2em; text-align: center">🖰 select build criteria</p>
    {% endif %}
{% endblock %}

{% block extrabottom %}
    <script>
        let z = ({{ working_actors_count|safe|default:'[]' }});
        let x = ({{ dates|safe|default:'[]' }});
        let y = ({{ categories|safe|default:'[]' }});
        let text = z.map(function (z, i) {
            return z.map(function (value, j) {
                return ` actor: ${y[i]}<br> datetime: ${x[j]}<br> count: ${value}`
            });
        });
        let data = [
            {
                z: z,
                x: x,
                y: y,
                type: 'heatmap',
                hoverongaps: false,
                colorscale: [
                    [0, '#a3d2db'], // 69c3e8 a3d2db
                    [1, '#01434b']  // e31919 01434b
                ],
                hoverinfo: 'text',
                text: text,
            }
        ];
        let layout = {
            title: {
                text: ({{ graph_title|safe|default:"''" }}),
                font: {
                    size: 15
                }
            },
            yaxis: {
                automargin: true
            },
            height: ({{ graph_height|safe|default:1 }}),
            xaxis: {
                rangeslider: {},
            },
        };
        let categories = ({{ categories|safe|default:'[]' }});
        if (categories.length !== 0) {
            Plotly.newPlot('graph', data, layout);
        }
    </script>
{% endblock %}