name: CI

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: astral-sh/ruff-action@v3

  test:
    needs:
      - lint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os:
          - "ubuntu-latest"
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"
        django-version:
          - "4.2"  # LTS
          - "5.0"
          - "5.1"
          - "5.2"
    steps:
        - uses: actions/checkout@v5
        - name: Install uv
          uses: astral-sh/setup-uv@v6
          with:
            python-version: ${{ matrix.python-version }}
        - name: Install dependencies
          run: uv sync --group dev --frozen --python-preference only-managed
        - name: Install Django version ${{ matrix.django-version }}
          run: uv add django~=${{ matrix.django-version }} --frozen
        - name: Run tests - Python ${{ matrix.python-version }} - Django ${{ matrix.django-version }}
          run: uv run -p ${{ matrix.python-version }} pytest
