name: CI

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "latest"
          python-version: "3.13"
      - name: Install dependencies
        run: uv sync --dev
      - run: uv run flake8 .

  test:
    needs:
      - lint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os:
          - "ubuntu-latest"
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
        django-version:
          - "4.2"  # LTS
          - "5.0"
          - "5.1"
          - "5.2"
    steps:
        - uses: actions/checkout@v4
        - name: Install uv
          uses: astral-sh/setup-uv@v6
          with:
            version: "latest"
            python-version: ${{ matrix.python-version }}
        - name: Install dependencies
          run: uv sync --dev --frozen --python-preference only-managed
        - name: Install Django version
          run: uv add django~=${{ matrix.django-version }} --frozen
        - run: uv run -p ${{ matrix.python-version }} python -m pytest
